@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,200,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);

body {
  font-family: "Ubuntu", sans-serif;
}

#heropic{
	width: 100%;
	height: auto;
	position: relative;
  float: left;
	cursor: pointer;
	box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
  display: block;
  /*-webkit-filter: grayscale(0.9);*/
  margin-bottom: 30px;
}
#teamPic{
box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

figure{
	margin: 0;

}
#socialMedia{
	position: center;
	width: 100%;
  background-color: #FF5252;
	
}


.smIcon{
	padding-left: 100;

}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

html, body {
  margin: 0;
  background-color: #FFFFFF;
  height: 100%;
}

#scocialMedia{
border: 5px #FF5252;
background-color: #FF5252;

}
section #services {
  text-align: center;
  transform: translatez(0);
  background-color: #FF5252;
  border-width: 5px;
  border-color: #FF5252;
  margin-top: 10px;
  margin-bottom: 0;
  min-height: 180px;}
section #services li {
  width: 100px;
  height: 80px;
  display: inline-block;
  margin: 20px;
  list-style: none;
  background-color: #FF5252;}
section #services li div {
  width: 100px;
  height: 100px;
  color:  #FF5252;
  font-size: 3.4em;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  transition: all 0.5s ease;}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;}
section #services li span {
  width: 100px;
  height: 20px;
  display: block;
  padding: 10px 0px;
  color: #fff;
  font-family: 'Advent Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
  background-color: #FF5252;}

h2{
  color: #F44336;
  font-family: Ubuntu , sans-serif;
  font-size: 400%;
  margin: 0;
  padding-bottom: 30px;
  text-align: center;
padding-top: 7%;}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 82, 82, 0.25), rgba(255, 82, 82, 1), rgba(255, 82, 82, 0.25));}
  
#ourStory{
  width:100%;
  text-align: center;
  font-family: 'Ubuntu' , sans-serif;
  font-size: 120%;
  color: #FFFFFF;
  position: relative;
}

#ourStoryContent{
padding:15px;
color: #000000;

}
#teamSection{
  text-align: center;
}

.members{
  list-style: none;

}

.member img{
  height: 300px;
  width: 250px;
  border-radius: 5px;
}

.member span{
  width: 240px;
  height: 20px;
  display: block;
  padding: 10px 0px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  text-align: center;

}

.members li{
width: 100px;
  height: 80px;
  display: inline-block;
  margin-right: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
  list-style: none;

}

#robotPic{
width: 500px;
height: 500px;

}

#robotContain{
text-align: center;

}

.more-info > div {
  display: none;
}

.more-info .x {
  border: 1px solid black;
  background-color: #FFCCCC;
  padding: 10px;
}



.slick-prev {
  left: 30px;
  z-index: 9001;
}

.slick-next {
  right: 78px;
  z-index: 9001;
}

.slick-prev:before, .slick-next:before {
  content: "";
  display: inline-block;
  
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}

.slick-prev:before {
  background-image: url("arrow_left.png");
}

.slick-next:before {
  background-image: url("arrow_right.png");
}


